body {
    background-color: #F8F8F8;
}

h1,h2,h3 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    color: #1261A8;
}

h1 {
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4,h5,p,li,a {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

p, li {
    font-size: 16px;
}

p.informalfont {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

header {
    height: 300px;
}

.nav {
    margin-right: 100px;
    padding-top: 50px;
}

.nav a {
   font-size: 20px; 
   color: black;
   text-decoration: none;
   text-align: right;
   margin-left: 100px;
   width: 100%;
}

.logo {
    height: 150px;
    text-align: center;
}

.frenchflagblue {
    margin-top: 10px;
    background-color: #1261A8;
    padding-bottom: 10px;
}

.frenchflagwhite {
    background-color: white;
    padding-bottom: 10px;
}

.frenchflagred {
    background-color: #E41B0E;
    padding-bottom: 10px;
}

div.dopfrance {
    text-align: center;
}

div.divider {
    height: 30px;
    margin-bottom: 150px;
    text-align: center;
}

div.originefrance {
    background-color: #1261A8;
    padding: 20px;
    padding-left: 250px;
}

div.originefrance>h2 {
    color: #f8f8f8;
    text-align: center;
    margin-bottom: 10px;
}

div.originefrance>p, div.originefrance>ul {
    color:#f8f8f8;
    text-align: left;
}

div.originefrance>img {
    text-align: left;
    float: left;
    height: 200px;
    padding: 15px;
    margin-right: 60px;
    overflow: auto;
}

div.backgroundimg {
    background-image: url(./images/backgroundimg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
}

div.backgroundimg p {
    margin-right: 500px;
    text-align: justify;
}

.date {
    text-align: center;
    margin-right: 500px;
}

.datetitre {
    color: #FFCA0F;
    text-align: center;
    margin-right: 500px;
}

.swapbottle {
    float: left;
    position: absolute;
    height: 80px;
    margin-left: 300px;
}